src/statsd-proxy
*.o
*.log
*.sw[opn]
test.*
test_serv.py
*.m4
compile
config.h
*.in
.deps
*.in~
depcomp
config.status
install-sh
Makefile
missing
stamp-*
COPYING
INSTALL
*.cache/
.dirstamp
statsd-proxy
configure
configure.lineno